<div class="d-flex">
    <app-card title="Ancheta Matrimonio" description="Vino y Galletas" 
        link="https://www.exito.com/ancheta-matrimonio-2-generico-1-unidad-294920/p"
        img="https://exitocol.vtexassets.com/arquivos/ids/20011420-500-auto?v=638334165897370000&width=500&height=auto&aspect=true"></app-card>
    <app-card title="Ancheta Dulce Navidad" description="Natilla, piaza y nucita" style_button="btn btn-warning"
        link="https://www.exito.com/adulce-navidad-19-294912/p"
        img="https://exitocol.vtexassets.com/arquivos/ids/20011408-1200-auto?v=638334165652970000&width=1200&height=auto&aspect=true"></app-card>
    <app-card title="Ancheta Tentación" description="Hit, duraznos y Mani"
        link="https://www.exito.com/ancheta-navidad-tentacion-294908/p"
        img="https://exitocol.vtexassets.com/arquivos/ids/20011415-1200-auto?v=638334165797870000&width=1200&height=auto&aspect=true"></app-card>
</div> 
<a class="button" routerLink="/">Home</a>