<!--<h1>{{title}}</h1>
<h2>Contador : {{contador}}</h2>
<button (click)="Incrementar(+1)">Incremento</button>
<button (click)="Reset()">Reset</button>
<button (click)="Incrementar(-1)">Decremento</button>
<button type="button" class="btn btn-primary">Mi Botón Azul</button>
<app-tarjeta></app-tarjeta>
<app-alerta [text]="textoPersonalizado"></app-alerta>
<app-alerta text="texto que no es una variable"></app-alerta>

<div class="d-flex">
    <app-card title="Ancheta Matrimonio" description="Vino y Galletas" 
        link="https://www.exito.com/ancheta-matrimonio-2-generico-1-unidad-294920/p"
        img="https://exitocol.vtexassets.com/arquivos/ids/20011420-500-auto?v=638334165897370000&width=500&height=auto&aspect=true"></app-card>
    <app-card title="Ancheta Dulce Navidad" description="Natilla, piaza y nucita" style_button="btn btn-warning"
        link="https://www.exito.com/adulce-navidad-19-294912/p"
        img="https://exitocol.vtexassets.com/arquivos/ids/20011408-1200-auto?v=638334165652970000&width=1200&height=auto&aspect=true"></app-card>
    <app-card title="Ancheta Tentación" description="Hit, duraznos y Mani"
        link="https://www.exito.com/ancheta-navidad-tentacion-294908/p"
        img="https://exitocol.vtexassets.com/arquivos/ids/20011415-1200-auto?v=638334165797870000&width=1200&height=auto&aspect=true"></app-card>
</div> -->
<H1>EJERCICIO LINIO</H1>

<div class="d-flex">
<app-linio link_prod="https://www.google.com" img="https://i.linio.com/p/c3568ef3fb0b43469bb0224d2b450055-catalog.webp" title="
Todo en uno Hp Intel core i3 1215U 16GB SSD 256GB - Freedos..." or_price="$2.789.000" avg="28%" price="$1.985.900" price_dis="$1.885.900" img_but="https://assets.linio.com/assets/sprites/alice-retina-d28329521e-d28329521e.png" ></app-linio>

<app-linio link_prod="https://www.google.com" img="https://i.linio.com/p/e4d78bf0e7b4702906d6ae0c769fa10a-catalog.webp" title="
HP 240 G9 - INTEL CELERON N4500 - 8GB DDR4 - 256GB SSD - PAN..." or_price="$1.230.00" avg="30%" price="$859.000" price_dis="$7.999.000" img_but="https://assets.linio.com/assets/sprites/alice-retina-d28329521e-d28329521e.png" ></app-linio>

<app-linio link_prod="https://www.google.com" img="https://i.linio.com/p/a057fe13dcd2b50649c2ed28e9648bf0-catalog.webp" title="
LENOVO 1 14ADA05 AMD ATHLON SILVER 3050E 4GB DDR4 128GB SS..." or_price="$984.000" avg="15%" price="$835.000" price_dis="$775.000" img_but="https://assets.linio.com/assets/sprites/alice-retina-d28329521e-d28329521e.png" ></app-linio>

</div>

<router-outlet></router-outlet>
