<div class="d-flex">
<app-linio link_prod="/carrito" img="https://i.linio.com/p/c3568ef3fb0b43469bb0224d2b450055-catalog.webp" title="
Todo en uno Hp Intel core i3 1215U 16GB SSD 256GB - Freedos..." or_price="$2.789.000" avg="28%" price="$1.985.900" price_dis="$1.885.900" img_but="https://assets.linio.com/assets/sprites/alice-retina-d28329521e-d28329521e.png" ></app-linio>

<app-linio link_prod="/carrito" img="https://i.linio.com/p/e4d78bf0e7b4702906d6ae0c769fa10a-catalog.webp" title="
HP 240 G9 - INTEL CELERON N4500 - 8GB DDR4 - 256GB SSD - PAN..." or_price="$1.230.00" avg="30%" price="$859.000" price_dis="$7.999.000" img_but="https://assets.linio.com/assets/sprites/alice-retina-d28329521e-d28329521e.png" ></app-linio>

<app-linio link_prod="/carrito" img="https://i.linio.com/p/a057fe13dcd2b50649c2ed28e9648bf0-catalog.webp" title="
LENOVO 1 14ADA05 AMD ATHLON SILVER 3050E 4GB DDR4 128GB SS..." or_price="$984.000" avg="15%" price="$835.000" price_dis="$775.000" img_but="https://assets.linio.com/assets/sprites/alice-retina-d28329521e-d28329521e.png" ></app-linio>
</div>