<a routerLink={{link_prod}} style="text-decoration: none;">
    <div class="card mx-3" style="width: 18rem;">
        <div class="top-pills top-pills-grid">
            <img src="https://s3.amazonaws.com/fms-live/6e81a742-855b-11ee-ac69-bad00e64229f.png" alt="Envío Express"
                title="Envío Express" class="lighthouse">
        </div>
        <img src="{{img}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{title}}</h5>
            <div class="discount-container">
                <span class="original-price">{{or_price}}</span>
                <span class="discount">- {{avg}}</span>
            </div>
            <div class="lowest-price">
                <span class="price-main-md">{{price}}</span>
            </div>
            <div class="lowest-price">
                <span class="price-promotional">{{price_dis}}</span>
                <span class="sprite sprite-cmr_co-sm"></span>
            </div>

            <div id="sponsored-plp">
                <span class="sponsored-text">Promocionado</span>
            </div>
        </div>
    </div>
</a>